*
{
    box-sizing: border-box;
}

html, body
{
    background-color: #333A3F;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

.container
{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(246deg, transparent 0%, transparent 24%,rgba(253,255,252, 0.02) 24%, rgba(253,255,252, 0.02) 80%,transparent 80%, transparent 100%),linear-gradient(333deg, transparent 0%, transparent 29%,rgba(253,255,252, 0.02) 29%, rgba(253,255,252, 0.02) 45%,transparent 45%, transparent 100%),linear-gradient(379deg, transparent 0%, transparent 32%,rgba(253,255,252, 0.02) 32%, rgba(253,255,252, 0.02) 59%,transparent 59%, transparent 100%),linear-gradient(457deg, transparent 0%, transparent 56%,rgba(253,255,252, 0.02) 56%, rgba(253,255,252, 0.02) 57%,transparent 57%, transparent 100%),linear-gradient(270deg, rgb(51,58,63),rgb(51,58,63));
}

main
{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    gap: 5em;
}

p
{
    color: #FDFFFC;
    text-align: center;
    font-size: 1rem;
    margin: 0;
}

h1
{
    color: #0CCA4A;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.home
{
    display: flex;
    justify-content: center;
}

.home .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1em;
}

.home .img-container
{
    display: flex;
    justify-content: center;
    width: 100%;

}

.home .text-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about
{
    display: flex;
    justify-content: center;
}

.about .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1em;
}

.about .img-container
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.about .text-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile
{
    width: 100%;
    border: none;
    border-radius: 10%;
}

.logo-main
{
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
}

.links
{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}

.links i
{
    color: #0CCA4A;
}

.work
{
    display: flex;
    justify-content: center;
}

.work .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1em;
}

.logos-gallery
{
    display: flex;
    height: auto;
    width: 100%;
    gap: 1em;
}

.logos-gallery .img-container
{
    display: flex;
    height: auto;
    width: 100%;    
}

.logos-gallery button
{
    background-color: unset;
    border: none;
    padding: 0;
}

.logos-gallery button:hover
{
    cursor: pointer;
}

.logos-gallery button i
{
    color: #0CCA4A;
}

.logo
{
    height: auto;
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: #FDFFFC;
}

.photos-gallery
{
    display: flex;
    height: auto;
    width: 100%;
    gap: 1em;
}

.photos
{
    display: flex;
    justify-content: center;
}

.photos-gallery button
{
    background-color: unset;
    border: none;
}

.photos-gallery button:hover
{
    cursor: pointer;
}

.photos-gallery button i
{
    color: #0CCA4A;
}

.photos-gallery .img-container
{
    display: flex;
    height: auto;
    width: 100%;
}

.photo
{
    height: 100%;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 16 / 9;
}

.comparison
{
    outline: none;
}

@media screen and (min-width: 641px)
{
    .home p
    {
        color: #FDFFFC;
        text-align: justify;
        margin: 0;
    }

    .home h1
    {
        color: #0CCA4A;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: left;
        font-weight: 600;
        margin: 0;
    }

    .about p
    {
        color: #FDFFFC;
        text-align: justify;
        margin: 0;
    }

    .about h1
    {
        color: #0CCA4A;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: left;
        font-weight: 600;
        margin: 0;
    }

    .home .wrapper
    {
        flex-direction: row;
    }

    .about .wrapper
    {
        flex-direction: row-reverse;
    }

    .links
    {
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
    }
}

@media screen and (min-width: 961px)
{
  
}

@media screen and (min-width: 1025px)
{
    p
    {
        color: #FDFFFC;
        font-size: 1.5rem;
        text-align: justify;
        margin: 0;
    }

    h1
    {
        color: #0CCA4A;
        font-size: 3rem;
        text-transform: uppercase;
        text-align: left;
        font-weight: 600;
        margin: 0;
    }

    .home .wrapper
    {
        flex-direction: row;
        height: 100vh;
        width: 80%;
    }

    .about .wrapper
    {
        flex-direction: row-reverse;
        height: 100vh;
        width: 80%;
    }

    .work .wrapper
    {
        height: 200vh;
        width: 80%;
        gap: 1em;
    }

    .photo-component
    {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .photos-gallery
    {
        width: 80%;
    }

    .logo-component
    {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logos-gallery
    {
        width: 100%;
    }

    .links
    {
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
    }

}